*{
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.main img{

    max-width: 80%;
}
.logo{
    width: 135px;
    height: 50px;
}
.contenedor{
    width: 100%;
	margin: auto;

}

/*---------Estilos del Header---------------*/
.header {
  height: 60px;
    background: #333;
}
.header .contenedor {
  display: flex;
  justify-content: space-between;
}

.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 30px;
  background: rgb(240, 126, 72);
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
   	z-index: 100;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
}
.menu__link {
  display: block;
  padding: 15px;
  background: rgba(51,51,51,0.9);
  text-decoration: none;
  color: #fff;
  height: 60px;
}
.menu__link:hover {
  background: white;
  color: #000;
}
.muestrate{
 left: 0;
}


/*-------Estilos del Banner-----*/

.banner img{
    width: 100%;

}
.banner {
   position: relative;

}
.banner .contenedor{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: rgb(203, 100, 44);
    text-align: center;

}

/*-------Estilos de Info------*/
 .info{
    font-family: 'Raleway', sans-serif;
    background: #333;
    color: #fff;
    text-align: center;
     margin-top: -50px;

}
 .info__img{
    border-radius: 50%;
    border: 7px solid #444;
     position: relative;


}
.info__txt{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding: 25px;
}

/*-------- Estilos de Platos--------*/
.platos{
    font-family: 'Raleway', sans-serif;
    background: #9A6339;
    color: #fff;
    text-align: center;
    padding: 40px;
}
.platos h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.platos .platos__titulo{
    font-size: 40px;
}
.platos .platos__txt{
    text-align: justify;
    padding: 15px;
}
.platos__img{
    border-radius: 50%;
    border: 7px solid #fff;
}
/*---------- Estilos del  Mapa----------*/
.mapa {
    padding: 30px ;
    background:  #F0EDE5;
    text-align: center;
}
.mapa h3{
    font-size: 25px;
}
.mapa p{
    text-align: center;

}
/*--------Estilos del footer--------*/
.footer{
    font-family: 'Raleway', sans-serif;
    background: #000;
    color: rgb(255, 252, 252);
    padding: 10px;
    text-align: center;
}
.footer img{
    width: 50px;

    margin-right: 10px;

}

/*-------Estilos del Formulario-----*/

.Formulario-de-contacto {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;


}

.Formulario_titulo {
    text-align: center;
    margin-top: 0;
    color: rgb(0, 0, 0);
}

.formulario_label, .formulario_input, .formulario_submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario_input {
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(247, 213, 201, 0.438);
    margin-bottom: 40px;
    padding: 20px;
}

.formulario_input:focus {
    outline: 1px solid rgba(240, 192, 141, 0.7);
}

.formulario_input:focus + .formulario_label{
    margin-top: -130px;
}

.formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;

}

.formulario_submit{
    background: rgba(240, 192, 141, 0.7);
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border: none;

}


.fijar {
    margin-top: -135px;

}
/*--------Estilos Responsive--------*/
@media(min-width:480px){
    .main img{
    max-width: 90%;
}
    .contenedor .banner__titulo{
        font-size: 44px;
    }
    .contenedor .banner__txt{
        font-size: 25px;
    }
	.info__columna{
        width: 32%;
    }
     .info .contenedor{
    display: flex;
		 justify-content: space-between;


    }
    .mapa-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }

    .mapa-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }


    .platos .contenedor{
     display: flex;
     flex-wrap: wrap;
     justify-content:space-around;
}
    .platos__columna{
        width:  40%;
    }
    .platos h3{
        font-size: 30px;
    }

    .Formulario-de-contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media(min-width:768px){
      .platos__columna{
        width: 24%;
    }
}

@media(min-width:1024px){
	.nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
    .banner .contenedor .banner__titulo{
        font-size: 50px;
    }
     .banner .contenedor .banner__txt{
        font-size: 36px;
    }
    .contenedor{
        width:1000px;
    }

}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
     .banner .contenedor .banner__titulo{
        font-size: 90px;

    }
     .banner .contenedor .banner__txt{
        font-size: 46px;
    }


}



